<div class="container">
  <div class="auth">
    <h2 class="auth__title">{{title}}</h2>
    <form class="auth-form">
      <div>
        {{#each inputs}}
          
          <div class="auth-form__field">
            <label class="auth-form__label" for="{{id}}">{{label}}</label>
            <input class="auth-form__input" id="{{id}}" type="{{type}}" name="{{id}}" placeholder="{{placeholder}}" autocomplete="{{autocomplete}}">
          </div>
        {{/each}}
      </div>
      <div class="auth-form__buttons">
      {{> button buttonId=buttonId buttonValue=buttonValue }}
      <a class="auth-form__text" id="{{redirectId}}">{{text}}</a>
      </div>
    </form>
  </div>
  <a class="error__link toMain" id="toMain">Назад на главную</a>
</div>
